/*General rules*/
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 162, 255) 100%);  
    padding-bottom: 2rem;
}

/*Header rules*/
header {
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 40px;
    margin-bottom: 25px;
    border-bottom: white 2px solid;
    font-weight: 800;
}

/*Main rules*/
main {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 25%;
    min-height: calc(100vh - 14rem);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.2rem;
    background-color: #EEE;
    color: black;
}

.forecast {
    display: flex;
    flex-direction: column;
    width: 75%;
    flex-grow: 2;
    min-height: calc(100vh - 14rem);
    background-color: #EEE;
    padding: 1.2rem;
    margin-right: 2rem;
}

/*Search section rules*/
label {
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1.3px;
}

.bar-and-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-bar, .search-button {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

#search-bar {
    padding-left: .6rem;
    border: 1px black solid;
    min-width: 0;
    width: 100%;
}

.search-button {
    padding: .6rem;
    background-color: black;
    color: #FFF;
    border: none;
}

.recent {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
    margin-top: 1rem;
}

.cities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
    background-color: black;
    color: white;
    margin-top: 1.2rem;
    padding: .4rem;
}

/*Current Forecast rules*/
.current {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 162, 255) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-row {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.current h1 {
    box-sizing: border-box;
    font-weight: 800;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: .6rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px white solid;
}

.current p {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
}

.current img {
    display: inline-block;
}

.uv {
    font-size: 1.2rem;
    margin-top: .8rem;
    border-radius: 5px;
    text-align: center;
    max-width: 8rem;
}

/*Five-Day Forecast rules*/
.five-day {
    margin-top: 1.2rem;
}

.five-heading {
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: .6rem;
    font-weight: 800;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.day {
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 162, 255) 100%);
    color: white;
    min-width: 15rem;
    margin: 0 .8rem 1.5rem .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px black solid;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.day p, .day img {
    margin-top: .6rem;
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 80%;
        margin-bottom: 2rem;
        min-height: 0;
    }

    .forecast {
        width: 80%;
        margin-right: 0;
    }

}