/*General rules*/
body {
    
}

/*Header rules*/
header {

}

.heading {

}

/*Main rules*/
main {

}

.search {

}

.forecast {

}

/*Search section rules*/
label {

}

#search-bar {

}

.search-button {

}

.cities {

}

/*Forecast section rules*/
.current {

}

.five-day {

}

.five-heading {

}

.days {

}

.day {

}